.board {
  height: 100%;

  &__body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 90px 30px 30px;
    box-sizing: border-box;
  }

  &__carousel {
    height: auto;
    display: flex;
    overflow-x: auto;

    &::-webkit-scrollbar {
      height: 5px;
      width: 5px;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
      background-color: rgba(0, 0, 0, 0.1);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(21, 225, 213, 1);
    }
  }
}

input {
  padding: 20px 10px;
  border: 2px solid rgba(21, 225, 213, 1);
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
}

.button {
  background-color: rgba(21, 225, 213, 1);
  color: white;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  align-self: flex-start;

  &:hover {
    opacity: 0.4;
    background: black;
  }

  &--outlined {
    background: transparent;
    border: 2px solid rgba(21, 225, 213, 1);
    color: rgba(21, 225, 213, 1);
    padding: calc(0.8rem - 2px);
    margin-right: 20px;

    &:hover {
      background-color: rgba(21, 225, 213, 1);
      color: white;
      opacity: 1;
    }
  }

  @media screen and (min-width: 768px) {
    width: auto;
  }

  &__icon {
    margin-left: 5px;
  }

  &--large {
    @media screen and (min-width: 768px) {
      width: 100%;
    }
  }

  &--centered {
    align-self: center;
  }
}
