@import '../../assets/_colors.scss';

.column {
  display: inline-block;
  background-color: $secondary-color;
  min-width: 240px;
  margin-right: 20px;
  padding: 30px;
  box-shadow: 5px 5px 20px $shadow;
  position: relative;
  height: 100%;

  @media screen and (min-width: 768px) {
    min-width: 300px;
  }

  &__title {
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid $default-text;
  }

  &__remove {
    position: absolute;
    right: 0;
    top: 0;
    padding: inherit;
    color: $default-text;
  }

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
