@import '../../assets/_colors.scss';

.card {
  background-color: $secondary-color;
  border: 2px solid $primary-color;
  border-radius: 5px;
  width: 100%;
  padding: 20px;
  box-shadow: 5px 5px 20px $shadow;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    min-width: 300px;
  }

  &__title {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
  }

  &__remove {
    position: absolute;
    right: 0;
    top: 0;
    padding: inherit;
    color: $default-text;
  }
}
