@import '../../assets/_colors.scss';

.modal {
  &__container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    animation: fadeIn 500ms;
  }

  &__content {
    min-width: 260px;
    max-width: 800px;
    display: inline-block;
    background-color: $secondary-color;
    border-radius: 8px;
    box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    text-align: center;
    padding: 40px;

    @media screen and (min-width: 768px) {
      width: 500px;
    }
  }

  &__header {
    b {
      color: $primary-color;
    }
  }

  &__children {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}
