.header {
  background-color: rgb(255, 255, 255);
  height: 50px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 10px 30px;
  position: fixed;
  top: 0;
  width: 100%;

  &__title {
    margin: 0;
    color: rgba(21, 225, 213, 1);
    font-size: 20px;

    @media screen and (min-width: 768px) {
      font-size: 26px;
    }
  }
}
