.card {
  background-color: white;
  border: 2px solid rgba(21, 225, 213, 1);
  border-radius: 5px;
  width: 100%;
  padding: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  box-sizing: border-box;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    min-width: 460px;
  }

  &__title {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
  }

  &__remove {
    position: absolute;
    right: 0;
    top: 0;
    padding: inherit;
    color: rgba(0, 0, 0, 0.5);
  }
}
